Repository tetherto/qvac-ext-lib-llama.cpp, pull requests merged in 2025-09, with the labels that each got.

#9 Add CODEOWNERS file
  .github/CODEOWNERS
Labels: devops

#16 Quality and Speed tuning scripts
  .flake8
  pyrightconfig.json
  scripts/tune/tune.py
  scripts/tune/tune_quality.py
  scripts/tune/tune_requirements.txt
  scripts/tune/tune_tps.py
Labels: ggml, testing, build, tier1, python, script

#17 QVAC-5545: Use char instead uint8_t for streams
  common_test/load_into_memory.h
  ggml/include/gguf.h
  ggml/include/uint8-buff-stream.h
  ggml/src/gguf.cpp
  ggml/src/uint8-buff-stream.cpp
  include/llama-cpp.h
  src/llama-mmap.cpp
  src/llama-mmap.h
  src/llama-model-load-input.cpp
  src/llama-model-load-input.h
  src/llama.cpp
Labels: documentation, Nvidia GPU, Vulkan, examples, ggml, testing, build, devops, python, script, Apple Metal, SYCL, IBM zDNN, server, nix, Ascend NPU, OpenCL

#25 QVAC-6093: Stream shards. Fixup for gradle.
  ggml/include/gguf.h
Labels: ggml

#24 QVAC-6093: Stream shards. Fixup for MSVC.
  ggml/include/gguf.h
Labels: ggml
