Repository tetherto/qvac-ext-lib-llama.cpp, pull requests merged in 2025-10, with the labels that each got.

#26 QVAC-6158: Fix CI MacOS x64 on Tether runners
  .github/workflows/build.yml
Labels: devops

#27 QVAC-6158: Fix CI cmake pkg on Tether fork
  .github/workflows/build-cmake-pkg.yml
  examples/simple-cmake-pkg/CMakeLists.txt
Labels: Vulkan, examples, ggml, testing, build, devops, python, script

#23 Ignore GGML_OP_SET_ROWS parameters during gradient calculation
  examples/training/CMakeLists.txt
  examples/training/README.md
  examples/training/finetune-lora.cpp
  examples/training/finetune.cpp
  ggml/include/ggml.h
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/ggml-cpu.cpp
  ggml/src/ggml-cpu/ops.cpp
  ggml/src/ggml-cpu/ops.h
  ggml/src/ggml-cpu/vec.h
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/out-prod.cu
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/cross_entropy_loss_back.comp
  ggml/src/ggml-vulkan/vulkan-shaders/geglu_back.comp
  ggml/src/ggml-vulkan/vulkan-shaders/out_prod.comp
  ggml/src/ggml-vulkan/vulkan-shaders/out_prod_q4_0.comp
  ggml/src/ggml-vulkan/vulkan-shaders/out_prod_q8_0.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
  ggml/src/ggml.c
  include/llama.h
  src/CMakeLists.txt
  src/llama-context.cpp
  src/llama-lora-training.cpp
  src/llama-lora-training.h
Labels: Nvidia GPU, Vulkan, examples, ggml
